@tailwind base;
@tailwind components;
@tailwind utilities;


.sr-only {
  position: absolute !important; /* Outside the DOM flow */
  height: 1px; width: 1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}


.label {
  @apply uppercase tracking-wide font-semibold text-xs text-gray-900 mb-2 block;
}

.input {
  @apply p-3 text-gray-800 border border-gray-300 rounded w-full;
}

.input::placeholder {
  @apply text-gray-700;
}

.input:focus {
  @apply shadow outline-none border-gray-400 duration-200 ease-linear;

  box-shadow: 0 0 0 0.2rem theme("colors.gray.200");
  background-clip: padding-box;
}

.input.select {
   @apply appearance-none bg-white w-full;
}

.text-cyan {
  color: #008F94
}

.bg-cyan {
  background-color: #008F94;
}
